.Dictionary section {
  background: white;
  box-shadow: 8px 5px rgba(218, 242, 233, 1);
  padding: 30px;
  margin: 30px;
}

.Dictionary input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
}

.Dictionary h1 {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
  opacity: 0.8;
  font-family: "Work Sans", sans-serif;
}
